* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFA;
}

.container1 {
  display: flex;
  height: 100%;
  margin-left: 20%; 
  flex-direction: column; /* Stack the sidebar and content vertically */
}

.sidebar {

  width: 20%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  position: fixed; /* Fix the sidebar's position */
  top: 0;          /* Align it to the top of the viewport */
  left: 0;         /* Align it to the left of the viewport */
  height: 100vh;   /* Full height of the viewport */
  overflow-y: auto; 
}


.logo img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
}

.menu-item.active {
  background-color: #F7971D;
  color: black;
  border-radius: 20px;
  
}

.menu-item:hover {
  background-color: white;
  color: #F7971D;
  border-radius: 20px;
  
}
.container {
  max-width: 100%px;
  width: 1000px;
  margin: 20px auto;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  
}

.search-bar {
z-index: 50; 
display: flex;
align-items: center;
border: 2px solid #bebdbd;
border-radius: 25px;
padding: 5px 10px;
background-color: white;
width: 250px;
transition: all 0.3s ease; /* Smooth transition for hover effect */
position: relative; /* Ensure the suggestion box aligns relative to this element */
}

.search-bar:hover {
border-color: #F7971D; /* Change border color on hover */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}

.search-bar input {
border: none;
outline: none;
width: 100%;
padding-left: 10px;
font-size: 14px;
}

.search-bar i {
color: #aaa;
font-size: 18px;
transition: color 0.3s ease; /* Smooth transition for icon color */
}

.search-bar:hover i {
color: #F7971D; /* Change icon color on hover */
}


.table-container {
margin-bottom: 20px;
}
.table-wrapper {
max-height: 80vh;
overflow-y: auto;
border-radius: 10px;
background-color: white;

padding: 0 20px 20px 20px; /* Removes top padding but keeps others */
margin: 0 auto;
width: calc(100% - 10px);
max-width: 1000px;
position: relative;
}

.styled-table {
font-size: 14px;
width: 100%;
border-collapse: collapse;
border-radius: 10px;
table-layout: fixed;

}
.styled-table thead {
position: sticky;
top: 80px; /* Adjust this to match the header-container's height */
z-index: 5;

}
.styled-table th, .styled-table td {
width: calc(100% / var(--column-count));
padding: 10px;
text-align: center;
border-bottom: 1px solid #D9D9D9;
word-wrap: break-word;
}
.styled-table th {
background-color: #000000;
color: #fff;

}
.styled-table th, .styled-table td {
width: 35%;
}
.header-container,
.styled-table thead {
background-color: white;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
background: white;
height: 80px;
padding: 10px 0;
position: sticky;
top: 0;
z-index: 10;
border-bottom: 1px solid #D9D9D9;
}
.header-container h1 {
font-size: 18px;
color: #333333;
}

tr.highlight {
  background-color: #F7971D; /* Yellow highlight */
}
.no-history {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 1.1em;
  display: none; /* Initially hidden */
}
.total-load {
  text-align: right;
  
  font-size: 1.2em;
  font-weight: bold;
 
}

.day-total {
  
  font-weight: bold;
  text-align: left; /* Align text to the left */
  
}


.day-header {
  font-size: 15px;
  font-weight: bold;
  text-align: left; /* Align text to the left */
 
}

.transac{
  margin-top: 10px;
  font-weight: bold;
  text-align: right;
}
.static-date {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: left; /* Align text to the left */
  
}

input:focus {
  outline: none;
}
.admin-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 45px; 
font-size: 20px;
font-weight: bold;
}

.profile-icon {
font-size: 24px;
color: #F7971D;
}
